<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-5 fw-bold">Seja Bem-Vindo!!</h1>
    <p class="col-md-8 fs-4">Este é o Crypto Wallet, um app para você cadastrar e acompanhar as suas criptomoedas.</p>
    <hr class-"my-4">
    <p>Para começar selecione uma das opções abaixo:</p>
    <%= render "menu" %> <!--Renderiza a partial menu-->
</div>

