<h1>Editing Coin</h1>

<%= render 'form', coin: @coin %> <%# Renderiza a partial form e passa a variável @coin para dentro dela%>

<%= link_to 'Mostrar', @coin %> |
<%= link_to 'Voltar', coins_path %>
