<h1><%= t('editing') %></h1>

<%= render 'form', coin: @coin %> <%# Renderiza a partial form e passa a variável @coin para dentro dela%>

<%= link_to t('links.show'), @coin, class:"btn btn-dark btn-sm", role:"button" %>
<%= link_to t('links.back'), coins_path, class:"btn btn-dark btn-sm", role:"button" %>
