<h1><%= t('new.coin') %></h1>

<%= render 'form', coin: @coin %> <%# Renderiza a partial form e passa a variável @coin para dentro dela%>

<%= link_to t('links.back'), coins_path, class:"btn btn-dark btn-sm mt-3", role:"button" %>
